{include file='public/header'}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加轮播</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" method="post" enctype="multipart/form-data" action="{:url('carousel/do_insert')}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">名称：</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="name" required=""
                                       aria-required="true">
                            </div>
                        </div>                       
                        <div class="form-group">
                            <label class="col-sm-3 control-label">图片：</label>
                            <div class="input-group col-sm-4">
                                <input  type="file"  name="pic" id="pic"/>                               
                            </div>
                        </div>                          
                        <div class="form-group draggable ui-draggable">
                            <label class="col-sm-3 control-label">链接：</label>
                            <div class="col-sm-4 input-group">
                                <input id="title" type="text" class="form-control" name="url" required=""
                                       aria-required="true">                                 
                            </div>
                        </div>                                               
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <input type="hidden" name="dosubmit" value="0">
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file='public/header'}
